*{
    background-color: rgb(249, 242, 247);
}

p{
    color: rgb(4, 5, 5);
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px;
    box-shadow: 0 0 10px rgb(13, 14, 13);
    z-index: 1000;
    position: fixed;
    top:0;
    left:0;
    right:0;
    width: 98%;
  
}
.logo{
    width: 70px;
    margin:0px;
}
.header h1{
    margin:0px;
    color:rgb(9, 9, 9);
    font-size: 50px;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
   
  }
  
  nav ul li {
    display: inline;
    margin-right: 39px;
    font-size: 35px;
  }
  
  nav ul li:last-child {
    margin-right: 0;
  }
  
  nav ul li a {
    color: rgb(11, 11, 11);
    text-decoration: none;
   
  }
 nav li a:hover{
  color: #ec59db;
 }
 .wel{
    color: rgb(14, 14, 15);
    text-align: center;
    font-size: 95px;
    font-family: sans-serif;
    margin-top: 150px;
 }
 .oasis{
    color: #af4c98;
    text-shadow: 0 0 10px #fff, 0 0 5px #fff, 0 0 7px #fff, 0 0 9px #ff00e6, 0 0 10px #ff00e6, 0 0 12px #ff00e6, 0 0 20px #ff00e6, 0 0 30px #ff00e6; 
    animation: glow-animation 1s infinite alternate;
 }
 @keyframes glow-animation {
    from {
      text-shadow: 0 0 1px #aca4a4, 0 0 5px #fff, 0 0 7px #fff, 0 0 9px #ff00e6, 0 0 10px #ff00e6, 0 0 12px #ff00e6, 0 0 20px #ff00e6, 0 0 30px #ff00e6; /* Start glowing */
    }
    to {
      text-shadow: 0 0 10px #fff, 0 0 10px #fff, 0 0 11px #fff, 0 0 12px #ff00e6, 0 0 15px #ff00e6, 0 0 17px #ff00e6, 0 0 230px #ff00e6, 0 0 40px #ff00e6; /* End glowing */
    }
  }
  .firstimg{
    margin-left: 100px;
    justify-content: space-between;
    word-spacing: 100px;
  }
  .secimg{
    margin-left: 100px;
    justify-content: space-between;
    word-spacing: 100px;
  }
  .thirdimg{
    margin-left: 100px;
    justify-content: space-between;
    word-spacing: 100px;
  }
.images{
    justify-content: space-around;
    padding-left: 110px;
    word-spacing: 30px;
    padding-top: 20px;
}
.btn{

        background-color: #af4c98; 
        border: none;
        color: rgb(247, 243, 243);
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 8px;
}
      /* Hover effect */
      .btn:hover {
        background-color: #eec1e9;
      }
      
      .contact{
        min-height: auto;
    }
    .contact form{
    max-width: 450px;
    margin: 0 auto ;
    text-align: center;
    }
    
    .contact form .input-box{
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .contact form .input-box .input-field{
        position: relative;
        width: 47%;
    }
    
    .contact form .input-box .input-field input,
    .contact form .textarea-field textarea{
        width: 100%;
        height: 100%;
        font-size: 15px;
        background: transparent;
        border-radius: 1px;
    
    }
    .contact form .textarea-field{
        position: relative;
        margin: .8rem 0 2.7rem;
    display: flex;
    }
    
    .contact form .textarea-field textarea{
        resize: none;
    }
    
    .contact form .btn-box.btn .btn{
        cursor: pointer;
    }
    .heading{
        color: #DDA0DD;
        font-size: 45px;
    }
    .heading:hover{
        color: #af4c98;
    }
    .heading2{
        display: flex;
        margin: 0 10px;
        margin-bottom: 400px;
        
        background-color: aliceblue;
    }
    
    .videoformat{
        width: 1200px;
        height:550px;
        position: relative;
        overflow: hidden;
        margin-left: 155px;
    }
    .videoformat img{
        position: absolute;
        width:100%;
        height:100%;
        opacity:0;
        top:0;
        left:0;
        animation: fade 7s infinite;
    }
    @keyframes fade{
        0%,20%{opacity: 0;}
        25%,45%{opacity: 1;}
        50%,70%{opacity: 1;}
        75%,95%{opacity: 0;}

    }
    .videoformat img:nth-child(2) {
        animation-delay: 2.5s; /* Delay the start of the second image animation */
      }
      .videoformat img:nth-child(3){
        animation-delay: 5s;
      }
     .ordering{
      border: 2px solid black;
      padding: 10px;
        background:transparent;
      width: 60%;
 margin: auto;
 box-shadow: 0 0 10px black;
     }

      .input{
        font-size: 19px;
        background:transparent;
        margin-bottom: 25px;
      }
      .order{
        font-size: 50px;
        text-align: center;
        width: 4px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

      }
      .order:hover{
        color: #af4c98;
        background-color: #DDA0DD;
      }
      .first{
        font-size: 30px;
            color:#060303;
            border-radius: 40px;
            padding: 60px;
            width: 700px;
            background-image: url('./back.jpg');
            margin: 0 auto;
            margin-bottom: 70px;
      }
      .row{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
      }
      .row .col{
        display: flex;
        flex-direction: column;
        align-items: center;

      }
      .events row{
        margin-left: 50px;
      }
      .row h4{
        color: #0f0e0e;
        font-size: 3vmin;
        margin:20px auto;
      }
      .imgbut{
        color: #130613;
        border-radius: 5px;
        padding: 10px 30px;
        text-align: center;
        text-decoration:none;
        display: inline-block;
        font-size: 20px;
        background-color: #DDA0DD;
        
      }
      .imgbut:hover{
        color: rgb(248, 10, 248);
        background-color: #DDA0DD;
      }
    
      .fot-img{
        display: flex;
        flex-wrap: wrap;
        gap:20px;
      }
.fot-img img{
  transition: transform 0.3s ease,filter 0.3s ease;
}
.fot-img:hover img{
  color: #af4c98;
  transform:scale(1.1);
  filter:brightness(80%);
}

      .card {
        width: 300px;
        border: 1px solid #ddd;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        margin-left: 90px;
        margin-top: 150px;
    }
    
.card:hover {
  transform: translateY(-15px);
  box-shadow: 0 8px 16px rgba(9, 9, 9, 0.2);
}
.card-image{
  width: 97%;
  height: auto;
}

.readimg{
  display: flex;
  flex-wrap: wrap;
  gap:70px;
}

.penguin{
  overflow: hidden;
}
.penguin img{
transition: transform 0.3s ease,filter 0.3s ease;
}
.penguin:hover img{
  background-color: #af4c98;
  transform:scale(1.1);
  filter:brightness(80%);
}
    


    
