*{
    background-color: rgb(222, 206, 206);
}
h1{
    text-align: center;
    color:#DDA0DD;
    font-size: 80px;
    
}
p{
    color: aliceblue;
}
.images{
    justify-content: space-around;
    padding-left: 110px;
    word-spacing: 30px;
    padding-top: 20px;
}